<div class="container">
    <div class="card-body"><h2>This a Gallery Component</h2></div>
    <div class="card-header">
        <div class="card-text ">
            <button id="images" >Images</button>
            <button id="videos" >Videos</button>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <div class="card-header">
             <img src="./assets/img/userpic.png" width="15px" height="15px"/>
                <b> Username goes here</b>
             </div>
            <img src="./assets/img/sample.jpg" class="card-img-top" alt="card-image"/>
            <div class="card-body">
             <h5 class="card-title">Card title</h5>
                <p class="card-text">Card description goes here.... </p>
            </div>
            <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">        
        <div class="card-header">
            <img src="./assets/img/userpic.png" width="15px" height="15px"/>
            <b> Username Goes here</b>
        </div>
        <img src="./assets/img/sample.jpg" class="card-img-top" alt="card-image"/>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Card description goes here.... </p>
        </div>
        <div class="card-footer">
         <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="./assets/img/userpic.png" width="15px" height="15px"/>
            <b> Username goes here</b>
        </div>
        <img src="./assets/img/sample.jpg" class="card-img-top" alt="card-image"/>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Card description goes here....</p>
        </div>
        <div class="card-footer">
           
                <!--<span class="glyphicon glyphicon-heart"></span>-->
                <small class="text-muted">Last updated 3 mins ago</small>

            
        </div>
       
    </div>
</div>
